# Algorithmic Trading with Predictors

Using the example of crypto pricing from yfinance, we can extract 5-min interval data for, say Ethereum-USD, over a 60 day period. And can similarly overlap with other crypto pairs. The pricing data consists of open, close, high, low and technical-based predicators can be built on that.

The predictor variables are features that might be related to market behavior. These data can be the technical indicators, the market data, the sentiment data, breadth data, fundamental data, government data, etc. 

On the technicals, we can consider simply the close-open delta to determine whether the price has increased or decreased. With the price, % changes, etc. as the features and the target predictor (i.e. whether close is higher than open) as a label, we can train a machine learning model to attempt to forecast this.

In [61]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)

In [62]:
from yfinance import Ticker
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

We use yfinance to download the data, pandas for data processing, and sklearn to split the data for training and testing. The split will be an important step here because we need to make sure everything still works out of the sample. XGBoost has been used due to its stellar out-of-box performance and no requirement for feature scaling.

In [76]:
def get_ohlc(ticker, period='60d', interval='5m'):
  cols = ['Open','High','Low','Close']
  ohlc = Ticker(ticker).history(period=period, interval=interval)[cols][:-1]
  return ohlc

df = get_ohlc('ETH-USD')

This function downloads open, high, low, and close prices for any given cryptocurrency pair and timeframe. There are limits, for example, only 60 days are available for the 5-minute interval. That gives us roughly 17,000 rows which is still a decent sample size for quick testing.

In [77]:
df

                                  Open         High          Low        Close
Datetime
2022-01-13 00:00:00+00:00  3372.104980  3377.017334  3372.104980  3377.017334
2022-01-13 00:05:00+00:00  3377.922363  3380.488037  3377.875977  3380.488037
2022-01-13 00:10:00+00:00  3381.010986  3381.010986  3377.831543  3377.831543
2022-01-13 00:15:00+00:00  3377.104004  3377.104004  3375.414795  3375.504395
2022-01-13 00:20:00+00:00  3375.253662  3375.253662  3373.264648  3373.385254
...                                ...          ...          ...          ...
2022-03-13 17:50:00+00:00  2579.877930  2579.877930  2579.262451  2579.454102
2022-03-13 17:55:00+00:00  2579.404785  2579.404785  2579.035889  2579.329346
2022-03-13 18:00:00+00:00  2579.282471  2579.746582  2579.204834  2579.204834
2022-03-13 18:05:00+00:00  2579.397461  2581.364502  2579.397461  2580.988037
2022-03-13 18:10:00+00:00  2581.047852  2581.721924  2581.016357  2581.721924

[17196 rows x 4 columns]

One of the simplest things to predict is whether the price of the next bar will go up or down. Ie. based on previous data, will the closing price of the next bar be higher than the opening price.

In [78]:
df['target'] = df['Close'] > df['Open']

In [79]:
df['target'] = df['target'].shift(-1)
df.dropna(inplace=True)

In [80]:
df

,Open,High,Low,Close,target
Datetime,,,,,
2022-01-13 00:00:00+00:00,3372.104980,3377.017334,3372.104980,3377.017334,True
2022-01-13 00:05:00+00:00,3377.922363,3380.488037,3377.875977,3380.488037,False
2022-01-13 00:10:00+00:00,3381.010986,3381.010986,3377.831543,3377.831543,False
2022-01-13 00:15:00+00:00,3377.104004,3377.104004,3375.414795,3375.504395,False
2022-01-13 00:20:00+00:00,3375.253662,3375.253662,3373.264648,3373.385254,True
...,...,...,...,...,...
2022-03-13 17:45:00+00:00,2583.430664,2583.430664,2579.864258,2579.864258,False
2022-03-13 17:50:00+00:00,2579.877930,2579.877930,2579.262451,2579.454102,False
2022-03-13 17:55:00+00:00,2579.404785,2579.404785,2579.035889,2579.329346,False
2022-03-13 18:00:00+00:00,2579.282471,2579.746582,2579.204834,2579.204834,True
2022-03-13 18:05:00+00:00,2579.397461,2581.364502,2579.397461,2580.988037,True

The method pct_change finds the row before to do the percentage change

In [81]:
df['pct_change1'] = df['Close'].pct_change()
df['pct_change2'] = df['Open'].pct_change()

In [82]:
df

,Open,High,Low,Close,target,pct_change1,pct_change2
Datetime,,,,,,,
2022-01-13 00:00:00+00:00,3372.104980,3377.017334,3372.104980,3377.017334,True,NaN,NaN
2022-01-13 00:05:00+00:00,3377.922363,3380.488037,3377.875977,3380.488037,False,0.001028,0.001725
2022-01-13 00:10:00+00:00,3381.010986,3381.010986,3377.831543,3377.831543,False,-0.000786,0.000914
2022-01-13 00:15:00+00:00,3377.104004,3377.104004,3375.414795,3375.504395,False,-0.000689,-0.001156
2022-01-13 00:20:00+00:00,3375.253662,3375.253662,3373.264648,3373.385254,True,-0.000628,-0.000548
...,...,...,...,...,...,...,...
2022-03-13 17:45:00+00:00,2583.430664,2583.430664,2579.864258,2579.864258,False,-0.001480,-0.000159
2022-03-13 17:50:00+00:00,2579.877930,2579.877930,2579.262451,2579.454102,False,-0.000159,-0.001375
2022-03-13 17:55:00+00:00,2579.404785,2579.404785,2579.035889,2579.329346,False,-0.000048,-0.000183
2022-03-13 18:00:00+00:00,2579.282471,2579.746582,2579.204834,2579.204834,True,-0.000048,-0.000047
2022-03-13 18:05:00+00:00,2579.397461,2581.364502,2579.397461,2580.988037,True,0.000691,0.000045

In [83]:
df.drop(df.index[0], inplace=True)

In [84]:
df["target"] = df["target"].astype(int)

In [85]:
X = df.drop(columns='target')
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=6, test_size=.50, shuffle=False)

In [25]:
model = XGBClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.5305432501748659

# Advanced Predictors

Find rolling averages; use advanced dataframe manipulation tools to find local maxima and minima, then find time taken through index searching of when the average hits a threshold (e.g. 90% of local maxima).

In [86]:
df['Mid'] = (df['High'] + df['Low'])/2

In [87]:
df['rolling10'] = df['Mid'].rolling(10).mean()

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17194 entries, 2022-01-13 00:05:00+00:00 to 2022-03-13 18:05:00+00:00
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Open         17194 non-null  float64
 1   High         17194 non-null  float64
 2   Low          17194 non-null  float64
 3   Close        17194 non-null  float64
 4   target       17194 non-null  int64
 5   pct_change1  17194 non-null  float64
 6   pct_change2  17194 non-null  float64
 7   Mid          17194 non-null  float64
 8   rolling10    17185 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3 MB

In [89]:
df = df.reset_index()

In [90]:
df['Day'] = df['Datetime'].dt.date

The below filter and groupby combination will first filter the dataframe by a particular column - in this case the pct_change1 column where the interval-on-interval close price shows growth; then the rolling10 price is grouped by the day and cumulative sum is obtained. Not sure whether this is a viable indicator... but shows the power of pandas dataframe.

In [91]:
df['Cumsum_pos_price'] = df[df['pct_change1'] >= 0].groupby(['Day'])['rolling10'].apply(
    lambda x: x.fillna(0).cumsum())

Applying some of the ideas individually, we can obtain the cumulative time for certain thresholds or whatever to be reached. In the following, examine the data grouped by day but could just as easily be grouped by different investments or another characteristic.

In [93]:
df = df.dropna(subset=['rolling10'])

In [95]:
df_subset = df.groupby(['Day'])['rolling10'].idxmax()

In [96]:
df_subset = df_subset.reset_index()
df_subset.columns = ['Day', 'MaxIndex']

In [97]:
df_subset['MaxAmount'] = df_subset['MaxIndex'].apply(lambda x: df['rolling10'].loc[x])

And similarly for the minimum of each day...

In [103]:
df_subset['MinIndex'] = df.groupby(['Day'])['rolling10'].idxmin().tolist()
df_subset['MinAmount'] = df_subset['MinIndex'].apply(lambda x: df['rolling10'].loc[x])

In [106]:
df_subset['MidAmount'] = (df_subset['MinAmount'] + df_subset['MaxAmount']) / 2

The below uses this "MidAmount" pricing for each day, to then search the original dataframe, per day, for the index at which the rolling10 price is closest to the target "MidAmount". This can them be used to find the time between periods of low-mid-high.

In [108]:
df_subset['MidIndex'] = df_subset[['Day', 'MidAmount']].apply(lambda x: abs(df.loc[(df['Day'] ==
                        x['Day']), 'rolling10'] - x['MidAmount']).idxmin(), axis=1).tolist()

In [109]:
df_subset

,Day,MaxIndex,MaxAmount,MinIndex,MinAmount,MidAmount,MidIndex
0,2022-01-13,180,3384.079553,281,3256.149329,3320.114441,190
1,2022-01-14,559,3324.922852,434,3209.715088,3267.318970,334
2,2022-01-15,826,3360.405481,736,3286.612964,3323.509222,715
3,2022-01-16,1069,3372.653809,1004,3308.144116,3340.398962,1039
4,2022-01-17,1151,3355.307678,1421,3166.257275,3260.782477,1298
5,2022-01-18,1458,3230.619104,1665,3102.861572,3166.740338,1583
6,2022-01-19,1757,3167.993213,1831,3060.822473,3114.407843,1873
7,2022-01-20,2215,3252.527429,2302,3025.249646,3138.888538,2168
8,2022-01-21,2303,3020.537915,2585,2553.294934,2786.916425,2520
9,2022-01-22,2607,2602.644934,2832,2344.625061,2473.634998,2750
10,2022-01-23,3000,2533.413806,3124,2397.860156,2465.636981,2967
11,2022-01-24,3168,2531.633398,3340,2192.793054,2362.213226,3390
12,2022-01-25,3687,2494.382849,3545,2367.463013,2430.922931,3590
13,2022-01-26,3980,2643.224951,4016,2427.138501,2535.181726,3890
14,2022-01-27,4216,2500.207092,4292,2339.254419,2419.730756,4141
15,2022-01-28,4588,2540.024744,4477,2375.593542,2457.809143,4400
16,2022-01-29,4870,2622.074219,4647,2530.470801,2576.272510,4772
17,2022-01-30,5033,2623.473547,5161,2560.723193,2592.098370,4895
18,2022-01-31,5417,2690.032776,5246,2497.694202,2593.863489,5369
19,2022-02-01,5647,2795.997107,5471,2683.687988,2739.842548,5568
20,2022-02-02,5920,2794.606506,6026,2648.096204,2721.351355,5940
21,2022-02-03,6061,2703.579456,6297,2598.718298,2651.148877,6128
22,2022-02-04,6583,2960.419580,6334,2666.049341,2813.234460,6434
23,2022-02-05,6815,3046.707568,6622,2961.730945,3004.219257,6721
24,2022-02-06,7197,3035.918799,7098,2978.359912,3007.139355,7014
25,2022-02-07,7441,3176.657764,7215,3007.801892,3092.229828,7271
26,2022-02-08,7566,3201.851025,7727,3048.278528,3125.064777,7772
27,2022-02-09,8028,3257.525513,7810,3074.553174,3166.039343,7929
28,2022-02-10,8208,3257.089307,8348,3092.154749,3174.622028,8292
29,2022-02-11,8524,3118.751611,8628,2901.712585,3010.232098,8582
30,2022-02-12,8890,2972.623828,8829,2880.511609,2926.567719,8787
31,2022-02-13,9096,2942.366370,9166,2856.532166,2899.449268,9126
32,2022-02-14,9421,2952.839893,9240,2848.005469,2900.422681,9477
33,2022-02-15,9788,3159.169690,9517,2920.710034,3039.939862,9597
34,2022-02-16,9793,3176.687744,9990,3065.113940,3120.900842,9949
35,2022-02-17,10096,3148.370447,10340,2884.010291,3016.190369,10248
36,2022-02-18,10481,2932.632837,10640,2773.235767,2852.934302,10546
37,2022-02-19,10677,2823.078015,10812,2717.474878,2770.276447,10792
38,2022-02-20,10945,2758.660962,11206,2597.383960,2678.022461,11014
39,2022-02-21,11328,2746.313660,11516,2587.214124,2666.763892,11371
40,2022-02-22,11705,2639.970813,11598,2515.715320,2577.843066,11525
41,2022-02-23,11966,2731.786877,12081,2596.309253,2664.048065,11894
42,2022-02-24,12332,2658.930957,12174,2329.937842,2494.434399,12313
43,2022-02-25,12655,2793.879126,12489,2592.038196,2692.958661,12591
44,2022-02-26,12921,2834.365063,12812,2752.595105,2793.480084,12729
45,2022-02-27,13107,2823.125940,13209,2601.206287,2712.166113,13005
46,2022-02-28,13521,2909.462122,13317,2604.425403,2756.943762,13420
47,2022-03-01,13696,3016.976074,13650,2886.543396,2951.759735,13683
48,2022-03-02,13867,3020.556165,14045,2928.115100,2974.335632,13911
49,2022-03-03,14114,2958.679590,14359,2806.885291,2882.782440,14282
50,2022-03-04,14385,2838.663477,14660,2601.369604,2720.016541,14558
51,2022-03-05,14923,2673.462903,14689,2607.465198,2640.464050,14844
52,2022-03-06,14977,2670.905383,15247,2570.470142,2620.687762,15199
53,2022-03-07,15426,2632.891040,15493,2465.609302,2549.250171,15253
54,2022-03-08,15759,2604.163623,15537,2501.576868,2552.870245,15737
55,2022-03-09,15940,2757.742017,15832,2577.818665,2667.780341,15872
56,2022-03-10,16116,2725.948450,16287,2578.766272,2652.357361,16167
57,2022-03-11,16553,2656.320715,16444,2538.976855,2597.648785,16587
58,2022-03-12,16898,2597.872607,16692,2564.014575,2580.943591,16839
59,2022-03-13,17011,2592.988293,17134,2545.872656,2569.430475,17158